@media only screen and (min-width: 992px){

}


* {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 8rem;
    background-color: #05164d;
    margin-top: 0px;
}

/* Menu 1 */

.menu1 ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap:3rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 18rem;
    padding-top: 1.5rem;
}

.header a {
    text-decoration: none;
}

.header ul {
    list-style: none;
}

.menu1 li img {
    vertical-align: middle;
    margin-right: 0.3rem;
}

.menu1 li a {
    display: inline-flex;
    align-items: center;
    color: #DCDCDC;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}

.menu1 a:hover {
    color: white;
}

/* Menu 2 */

.menu2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.3rem 18rem 0 14.4rem;
}

.menu2 li {
    cursor: pointer;
}

.menu2 li:hover {
    color: white;
}

.menu2 img {
    cursor: pointer;
}

/* Dropdown Menu */

.dropmenu {
    display: none;
    position: absolute; 
    background-color: white;
    width: 100%;
    padding: 1rem;  
}    

.dropmenu h3 {
    color: #05164d;
    text-decoration: underline;
    text-decoration-color: gray;
    margin-bottom: 0.6rem;
}

.submenu a {
    color: gray;
    display: block;
    text-decoration: none;
}

.submenu a:hover {
    color: black;
    text-decoration: none;
}

.dropprincipal li:hover .dropmenu {     /*Alterar para click(javascript)*/
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    gap:3rem;
}

.dropprincipal {
    display: flex;
    gap: 4.7rem;
    justify-content: flex-end;
}

.dropprincipal li {
    position: relative; 
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #d3d4d6;
    font-size: 1rem;
}



/* Principal */
.principal img {
    padding-left: 14.5rem;
    max-width: 100%;
    height: auto;
}


/* GUIA */

.guia {
    margin-top: 1rem;
}

.guia a {
    text-decoration: none;
    color: #05164d;  
}

.guia .grid {
    position: relative;
    margin-top: 1.5rem;
    display:grid;
    grid-template-rows: 18.75rem;
    grid-template-columns: 38.8rem 38.8rem;
    gap: 1.25rem;
    justify-content: center;
    color: #05164d;
}

.guia img {
    max-width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 0.625rem;
}

.guia .grid .overlay {
    position: absolute;
    top:10%;
    padding-left: 2.5rem;
    align-items: center;
}

.guia .item-grid1 .overlay{
    color:white;
}


.guia h2 {
    font-size: 1rem;
    font-weight: bold;
}

.guia p {
    font-size: 1.5rem;
}



/* SERVIÇOS GRID */
.serviços{
    margin-top: 3.1rem;
}

.serviços h1 {
    margin-left: 20rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
}

.serviços .item-grid {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.serviços .grid {
    margin-top: 1.6rem;
    display:grid;
    grid-template-rows: 18.75rem;
    grid-template-columns: 18.75rem 18.75rem 18.75rem 18.75rem;
    gap: 1.25rem;
    justify-content: center;
    color: #05164d;
}

.serviços a {
    text-decoration: none;
    color: #05164d;
}

.serviços .grid img {
    max-width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 0.625rem;
}

.serviços .grid h2{
    font-weight: bold;
}
.serviços .grid p {
    margin-top: 0.95rem;
    font-size: 1.1rem;
}

/* PUBLICIDADE */

.publicidade {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    gap: 1.25rem; 
    margin-top: 4.5rem;
    margin-left: 20rem;
    margin-right: 20rem;
}

.imagem-texto{
    display: flex;
    gap:0.3rem;
}

.publicidade .item {
    max-width: 25rem;
    height: auto;
}

.publicidade a {
    text-decoration: none;
    color: #05164d;
}

.publicidade p {
    font-size: 1.1rem;
    font-family:'Times New Roman', Times, serif;
    padding-left: 2.5rem;
}

/* Ofertas */

.ofertas {
    padding-top: 3rem;
    margin-left: 20rem;
}

.ofertas .titulo {
    display: flex;
    flex-direction: row;
    color:#05164d;
}

.ofertas option {
    font-size: 1rem;
}

.ofertas select{
    padding-left: 0.3rem;
    font-size: 1.7rem;
    border: none;
    border-bottom: 0.2rem solid #05164d; /* Adiciona o sublinhado */
    width: 8rem; 
}

.ofertas select:hover{
    cursor: pointer;
}

.ofertas a {
    text-decoration: none;
}

.ofertas .item-grid {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.ofertas .grid{
    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(9 , 25.6rem);
    grid-template-rows: 32.5rem;
    gap:1.5rem;
}

.ofertas h2{
    font-size: 1.3rem;
    color: #05164d;
}

.ofertas .item-grid h1{
    font-size: 1.5rem;
    color: #05164d;    
}

.ofertas .item-grid{
    position: relative;
    padding: 20px;
    padding-bottom: 50px;
}

.ofertas .item-grid p {
    color: #05164d;  
}

.ofertas .preço h1 {
    position: absolute;
    bottom: 1.3rem;
    right: 1.25rem;
    font-weight: bold;
}

.ofertas .preço p {
    position: absolute;
    bottom: 1.45rem;
    right: 5.5rem;
}


.ofertas .condiçoes {
    padding-top: 3rem;
    font-size: 0.8rem;
}




.ofertas .b1 {
    padding-top: 2rem;
    display: flex;
    background-color: white;
    width: 130px;
    height: 40px;
    align-items: center; 
    gap: 8px;
    border: none;
}


.ofertas .b1:hover {
    cursor: pointer;
}

.ofertas .b1 img {
    height: 1.5rem;
}

.ofertas .b1 p {
    font-size: 0.9rem; 
    font-family: Arial, sans-serif;
}

.ofertas .b2 {
    padding-top: 2rem;
    display: flex;
    background-color: white;
    width: 280px;
    height: 55px;
    align-items: center; 
    gap: 8px;
    border: 2px solid #05164d;
    border-radius: 5px;

}

.ofertas .b2:hover {
    cursor: pointer;
}

.ofertas .b2 h1 {
    font-size: 1rem;
    font-family: Arial, sans-serif;
}




/* display: flex; 
    align-items: center; 
    gap: 8px; 
    padding: 8px 16px; 
    font-size: 14px; 
    font-family: Arial, sans-serif; 
    color: #333; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    background-color: #fff; 
    cursor: pointer; Curso*/






/* Organizar dropdown*/

/* Adicionar pointer em tudo */

/* Fazer table */

/* Inserir resto da informação - GRIDS */

/* Java script para hover do select */